body {
    font-family: "Roboto";
    margin: 0;
}

/* HEADER */

.section-header,
.section-hero {
    display: flex;
    background-color: #1F2937;
}

.section-header {
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}

.section-hero {
    
}

.hero-title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-text {
    color: #E5E7EB;
    font-size: 18px;
    font-weight: 300;
}

.hero-image {

}

/* INFORMATION */

.section-information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-cardcontainer {
    display: flex;
}

.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.info-card {

}

.card-illustration {

}

.card-subtext {

}

/* testimonial */

.section-testimonial {

}

.testimonial {
    padding: 32px;
}

.testimonial-quote {

}

.testimonial-source {
    text-align: right;
}

/* SIGNUP */

.section-signup {
}

.signup-panel {

}

.signup-text {

}

.signup-title {

}

.signup-button {

}

/* FOOTER */

.section-footer {

}

.footer-text {

}